 print {
    text-align:center;
  font-weight:bold; 
  height: 14em;
  width: 25em;
  background-color:#175657;
  margin-left:auto;
  margin-right:auto;
  border:outset 1px  rgb(7, 160, 140);
  border:1px solid  rgb(7, 160, 140);
 
  border-radius:20px;
  box-shadow:3px 3px 4px 3px #32353b;
  }